.container {
  display: flex;
  flex-direction: column;
  gap: 1vw;

  min-height: 14vw;
  padding: 0 4vw;
  overflow-x: hidden;
}

.listContainer {
  position: relative;
  display: flex;
}

.sliderMask {
  position: absolute;
  top: 0;
  transform: translateX(0%);

  display: flex;
  gap: 4px;

  transition: transform 0.8s;
}

.movieCard {
  cursor: pointer;

  width: calc((100vw - 10vw - 8px) / 6);
  border-radius: 4px;
  overflow: hidden;

  transition: transform 0.2s 0.2s;

  img {
    width: 100%;
  }
}
