.nav {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 5vw;
  padding: 0 4vw;
  z-index: 1000;

  background-color: var(--pageBg100);

  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7) 10%,
    rgba(0, 0, 0, 0)
  );

  &__info {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__link {
    font-size: 1.1vw;
    color: #fff;
    cursor: pointer;

    transition: all 0.2s;

    &:hover {
      color: #aaa;
    }
  }

  &__logo {
    font-family: "Pacifico", sans-serif;
    font-size: 2.8rem;
    color: var(--primaryColor100);
    cursor: pointer;
  }

  &__user {
    &__search {
      cursor: pointer;
    }

    &__notifsContainer {
      position: relative;
      cursor: pointer;
    }

    &__notifsBox {
      position: absolute;
      right: 0;
      top: 5rem;
      cursor: default;

      display: flex;
      justify-content: center;
      align-items: center;

      background-color: rgba(0, 0, 0, 0.7);
      height: 12rem;
      width: 40rem;
      color: #777;

      border-top: 2px solid #fff;

      transition: all 0.4s 3s;

      &__pointer {
        position: absolute;
        right: 0.6rem;
        top: -1rem;

        transform: rotate(180deg) scale(1.5);
      }
    }

    &__buttons {
      display: flex;
      align-items: center;
      gap: 2rem;

      svg {
        display: block;
      }
    }

    &__accountBtn {
      display: flex;
      align-items: center;
      gap: 1rem;

      cursor: pointer;

      svg {
        transition: all 0.25s;
      }

      &:hover svg {
        transform: rotate(180deg);
      }
    }

    &__pfp {
      height: 3.2rem;
      width: 3.2rem;
      background-color: var(--primaryColor100);
      border-radius: 4px;
    }
  }
}
