.container {
  border-radius: 4px;
  overflow: hidden;
  background-color: var(--pageBg200);
  max-width: 16rem;

  cursor: pointer;
}
.profilePic {
  position: relative;
  height: 24rem;
  width: 16rem;
}

.nameContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.8rem 1rem;
}

.actorName {
  color: var(--primaryColor100);
  font-weight: 500;
}

.characterName {
  color: #eee;
  font-weight: 400;
}
