.container {
  border-radius: 4px;
  overflow: hidden;
  background-color: #242424;
  max-width: 16rem;
}
.profilePic {
  position: relative;
  height: 24rem;
  width: 16rem;
}

.nameContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.actorName {
  font-weight: 400;
}

.characterName {
  color: #ccc;
}
