.container {
  display: grid;
  grid-auto-rows: 8vw;
  grid-template-columns: repeat(6, 1fr);
  gap: 4px;
  row-gap: 4vw;

  height: 200vh;
  width: 100;
  margin-top: 4rem;
  padding: 0 4vw;
}

.test {
  background-color: #999;
  height: 100%;
  width: 100%;

  border-radius: 4px;
}
