.footer {
  display: flex;
  justify-content: space-between;

  padding: 2vw 4vw;
  background-color: #000;
  color: #aaa;

  @media only screen and (max-width: 60em) {
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    .copyright {
      order: 3;
    }
  }

  p {
    font-size: var(--fontSize90);
    transition: color 0.5s;
    &:hover {
      color: #fff;
    }
  }
}

.link {
  position: relative;
  transition: color 0.5s;

  &:hover {
    color: var(--primaryColor100);

    &::before {
      width: 100%;
    }
  }

  &::before {
    content: "";
    position: absolute;
    bottom: -2px;

    width: 0;
    height: 1px;
    background-color: var(--primaryColor100);
    transition: all 0.25s;
  }
}
