.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;

  width: 100%;
  height: calc(100vw / 1.77); // temp
  max-height: 95vh;
  padding: 0 4vw;

  background-color: rgb(71, 71, 71);
}

.movieTitle {
  position: relative;
  font-size: calc(2vw + 2vh + 2vmin);
  z-index: 1;
  max-width: 14ch;
  padding: 0 0 2vw;
  background-image: radial-gradient(
    closest-side,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0) 100%
  );
}

.description {
  width: 50ch;

  background-color: rgba(25, 25, 25, 0.7);
  padding: 1vw;
  border-radius: 4px;
}

.btnContainer {
  display: flex;
  gap: 1rem;

  > * {
    padding: 0.7vw 1.4vw;
  }

  svg {
    display: block;
    height: 1.4vw;
    width: 1.4vw;
  }
}

.btnFill {
  background-color: #fff;
}

.btnGhost {
  background-color: rgba(92, 92, 92, 0.6);
  color: #fff;
}

.ageRating {
  position: absolute;
  right: 0;
  bottom: 30%;

  font-size: var(--fontSize100);
  font-weight: 500;
  width: 7vw;
  background-color: #00000055;
  padding: 0.8vw;
  border-left: 3px solid #fff;
}
