.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3vw;

  height: 100vh;
  width: 100%;
}

.loginBox {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 0.5vw;
}

.loginMessage {
  transition: all 0.5s;
}

.btnFill:hover ~ .loginMessage {
  transform: translateY(-1vw);
}

.btnFill {
  position: relative;
  font-size: var(--fontSize300);
  font-weight: 600;

  padding: 1vw 2vw;
  color: black;
  border-radius: 4px;

  transform: translateY(0);
  transition: all 0.5s;
  overflow: hidden;

  // background
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    background-color: #fff;
    height: 100%;
    width: 100%;
    z-index: -2;
  }

  // circle
  &::before {
    content: "";
    position: absolute;
    top: 0vw;
    left: -4vw;
    transform: translate(-50%, -50%);

    height: 10rem;
    width: 10rem;
    border-radius: 100%;
    z-index: -1;

    background-color: var(--primaryColor100);
    transition: all 0.5s;
  }

  &:hover {
    transform: translateY(-1vw);

    &::before {
      height: 55vw;
      width: 55vw;
    }
  }
}

.btnGhost {
  font-size: var(--fontSize200);
  font-weight: 500;

  padding: 1vw 2vw;
  border: 3px solid #fff0;
  border-radius: 4px;

  transform: translateY(0);
  transition: all 0.5s;

  &:hover {
    transform: translateY(-1vw);
    border: 3px solid #fff;
  }
}
