.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  min-height: 100vh;
  width: 100%;

  background-color: rgba(#000000, 0.65);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  max-width: 85rem;
  padding-bottom: 4rem;

  background-color: var(--pageBg100);
  border-radius: 7px;
  box-shadow: 0 0.5rem 2rem rgba(#000, 0.9);
  overflow: hidden;

  z-index: 110;
}

.hero {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;

    height: 100%;
    width: 100%;
    background-image: linear-gradient(
      to bottom,
      rgba(20, 20, 20, 0) 85%,
      rgba(20, 20, 20, 1)
    );
  }
}

.heroContent {
  position: absolute;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;

  padding: 0 4vw;
  padding-bottom: 7vw;
}

.title {
  position: relative;
  max-width: 14ch;
  font-size: 5vw;
  font-weight: 500;
  z-index: 5;
  padding: 0 0 2vw;

  text-shadow: rgba(0, 0, 0, 0.8) 0 2px 5px;

  @media only screen and (min-width: 55em) {
    font-size: 4.5rem;
  }
}

.btnContainer {
  display: flex;
  gap: 0.8rem;
}

@mixin btnHoverWindow {
  opacity: 0;
  content: "";
  position: absolute;
  top: -3vw;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;

  font-size: var(--fontSize100);
  font-weight: 600;
  color: #000;
  text-align: center;

  width: 14ch;
  background-color: #fff;
  padding: 0.4vw;
  border-radius: 4px;
  box-shadow: 0 4px 1rem rgba(#000000, 0.3);

  transition: opacity 0.1s;
}

@mixin btnHoverWindowArrow {
  content: "";
  position: absolute;
  top: -1.5vw;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);

  opacity: 0;
  height: 0.8vw;
  width: 0.8vw;
  background-color: #fff;
  z-index: 10;

  transition: opacity 0.1s;
}

.addToListBtn {
  position: relative;

  &:hover {
    &::before {
      opacity: 1;
    }
    &::after {
      opacity: 1;
    }
  }

  &::before {
    @include btnHoverWindow;
    content: "Add to my list";
  }

  &::after {
    @include btnHoverWindowArrow;
  }
}

.removeFromListBtn {
  position: relative;

  &:hover {
    &::before {
      opacity: 1;
    }
    &::after {
      opacity: 1;
    }
  }

  &::before {
    @include btnHoverWindow;
    content: "Remove from my list";
    width: 18ch;
  }

  &::after {
    @include btnHoverWindowArrow;
  }
}

.ratingBtn {
  position: relative;

  &:hover {
    &::before {
      opacity: 1;
    }
    &::after {
      opacity: 1;
    }
  }

  &::before {
    @include btnHoverWindow;
    content: "Leave a rating";
    width: 14ch;
  }

  &::after {
    @include btnHoverWindowArrow;
  }
}

.hideForm {
  opacity: 0;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;

  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.65);
  overflow: hidden;

  padding: 0 0 0 1vw;
  border-radius: 50vw;

  transform: translateX(0);
  transition: all 0.2s;

  &:hover {
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid rgba(255, 255, 255, 1);
  }
}

.ratingLabel {
  text-align: center;
  width: 2.5ch;
  font-size: var(--fontSize300);
  font-weight: 600;
  cursor: pointer;
}

.ratingInput {
  height: 0.6vw;
  -webkit-appearance: none;
  border: 2px solid #ccc;
  border-radius: 10vw;

  &::-webkit-slider-thumb {
    height: 1.7vw;
    width: 0.5vw;
    border-radius: 4px;
    background: var(--primaryColor100);
    cursor: pointer;
    -webkit-appearance: none;
  }
}

.ratingSubmit {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;

  background-color: rgba(255, 255, 255, 0.2);
  height: 100%;
  width: 3vw;
  border-radius: 0;

  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transform: none;
  }
}

.userRating {
  position: absolute;
  left: 23.5vw;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: var(--fontSize200);
  font-weight: 600;
  color: var(--primaryColor100);

  height: 2.8vw;
  width: 2.8vw;
  background-color: #0009;
  border-radius: 100%;
}

.trailerBtn {
  padding: 0.5vw 1.4vw;
  font-size: 1.2vw;
  background-color: #fff;
}

.detailsBox {
  display: flex;
  gap: 4rem;
  padding: 0 4rem;
}

.detailsMain {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.metaData {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: var(--fontSize200);
  font-weight: 500;

  .audienceScore {
    font-size: calc(var(--fontSize200) + 0.4vw);

    color: var(--primaryColor100);
    font-weight: 600;
  }
}

.detailsSecondary {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  span {
    color: rgb(128, 128, 128);
    font-weight: 600;
  }
}

.errorModal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vw;

  padding: 4vw 2vw;

  background-color: var(--pageBg100);
  border-radius: 7px;
  box-shadow: 0 0.5rem 2rem rgba(#000, 0.9);
  overflow: hidden;

  z-index: 110;

  > svg {
    height: 8vw;
    width: 8vw;
  }

  h2 {
    font-size: var(--fontSize400);
  }

  p {
    text-align: center;
    font-size: var(--fontSize300);
    width: 25ch;
  }
}
