.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: calc((100vw - 10vw - 8px) / 6);
  height: 8vw;

  cursor: pointer;

  @media only screen and (max-width: 68.75em) {
    height: 9.5vw;
    width: calc((100vw - 10vw - 8px) / 5);
  }
  @media only screen and (max-width: 64em) {
    height: 12vw;
    width: calc((100vw - 10vw - 8px) / 4);
  }
  @media only screen and (max-width: 49em) {
    height: 15.5vw;
    width: calc((100vw - 10vw - 8px) / 3);
  }
  @media only screen and (max-width: 31.25em) {
    height: 24vw;
    width: calc((100vw - 10vw - 8px) / 2);
  }
}

.image {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
}

//////////// old

.card {
  overflow: visible;
  opacity: 0;
  visibility: hidden;
  z-index: 10;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background-color: orange;
  height: 15rem;

  transition: all 0.2s;
}

// show card when being hovers
.image:hover ~ .card,
.card:hover {
  opacity: 1;
  visibility: visible;
}

// when not hovered, we are adding a delay before it hides again for convenience
.image:not(:hover) ~ .card {
  transition-delay: 0.2s;
}
