.nav {
  position: fixed;
  top: -5vw;
  left: 0;
  z-index: 100;
  width: 100%;

  background-color: var(--pageBg100);

  transition: background-color 0.5s;
}

.navContainer {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 4.5vw;
  padding: 0 4vw;

  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7) 10%,
    rgba(0, 0, 0, 0)
  );
}

.category {
  padding: 1.5vw 4vw;
  text-transform: uppercase;
  background-color: var(--pageBg100);
}

.info {
  display: flex;
  gap: 2rem;
}

.linkContainer {
  display: flex;
  align-items: center;
  gap: 1.5vw;
}

.link {
  font-size: var(--fontSize90);
  color: #fff;
  cursor: pointer;

  transition: all 0.2s;

  &:hover {
    color: #aaa;
  }
}

.logo {
  align-self: center;
  font-family: "Pacifico", sans-serif;
  font-size: 1.8vw;
  color: var(--primaryColor100);
  cursor: pointer;
  margin-right: 2vw;
}

.user {
  display: flex;
  align-items: center;
  gap: 1.6vw;

  svg {
    display: block;
  }
}

.search {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 100%;

  > svg {
    min-height: 1.4vw;
    max-height: 1.4vw;
    min-width: 1.4vw;
    max-width: 1.4vw;

    @media only screen and (max-width: 52.5em) {
      min-height: 2.6vw;
      max-height: 2.6vw;
      min-width: 2.6vw;
      max-width: 2.6vw;
    }
  }
}

.notifsIcon {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 100%;

  > svg {
    min-height: 1.6vw;
    max-height: 1.6vw;
    min-width: 1.6vw;
    max-width: 1.6vw;

    @media only screen and (max-width: 52.5em) {
      min-height: 2.9vw;
      max-height: 2.9vw;
      min-width: 2.9vw;
      max-width: 2.9vw;
    }
  }
}

.notifsIcon:not(:hover) > .notifsBox {
  visibility: hidden;
  opacity: 0;
  transition-delay: 0.1s;
}

.notifsBox {
  position: absolute;
  right: 0.4vw;
  top: 6vw;
  cursor: default;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.85);
  height: 12vw;
  width: 30vw;
  color: #aaa;

  border-top: 2px solid #fff;

  opacity: 1;
  transition: all 0.2s;

  &:hover {
    background-color: #000;
  }

  .pointer {
    position: absolute;
    right: 0.1vw;
    bottom: 99%;

    transform: rotate(180deg) scale(1.5);
  }
}

.accBtn {
  position: relative;

  display: flex;
  align-items: center;
  gap: 1rem;

  display: flex;
  align-items: center;
  cursor: pointer;
  height: 100%;

  > svg {
    min-height: 0.8vw;
    max-height: 0.8vw;
    min-width: 0.8vw;
    max-width: 0.8vw;
    transition: all 0.25s;
  }

  &:hover > svg {
    transform: rotate(180deg);
  }
}

.accBox {
  position: absolute;
  right: 1.8vw;
  top: 6vw;
  cursor: default;

  display: flex;
  align-items: center;

  color: #777;
  width: 15vw;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 1.5rem 1rem;
  border-top: 2px solid #fff;

  opacity: 1;
  transition: all 0.2s;

  &:hover {
    background-color: #000;
  }

  .pointer {
    position: absolute;
    right: 3%;
    bottom: 99%;

    transform: rotate(180deg) scale(1.5);
  }

  .btnsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    button {
      position: relative;

      font-weight: 400;
      font-size: 0.95vw;
      outline: none;
      color: #fff;

      &:hover {
        transform: none;
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        background-color: #fff;
        height: 1px;
        width: 0;
        transition: width 0.2s;
      }

      &:hover::after,
      &:focus::after {
        width: 100%;
      }
    }
  }
}

.accBtn:not(:hover) > .accBox {
  visibility: hidden;
  opacity: 0;
  transition-delay: 0.1s;
}

.pfp {
  height: 2vw;
  width: 2vw;
  background-color: var(--primaryColor100);
  border-radius: 0.3vw;
}
