.nav {
  position: fixed;
  top: -5vw;
  left: 0;
  z-index: 100;
  width: 100%;

  background-color: var(--pageBg100);

  transition: background-color 0.5s, top 0.2s;
}

.navContainer {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 4.5vw;
  padding: 0 4vw;

  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7) 10%,
    rgba(0, 0, 0, 0)
  );

  @media only screen and (max-width: 52.5em) {
    height: 8vw;
  }

  @media only screen and (max-width: 31.25em) {
    height: 10vw;
  }
}

.category {
  padding: 2vw 4vw 1.5vw;
  text-transform: uppercase;
  background-color: var(--pageBg100);

  h2 {
    font-weight: 400;
  }
}

.info {
  display: flex;
  gap: 2rem;

  @media only screen and (max-width: 52.5em) {
    display: none;
  }
}

.infoCompact {
  display: none;
  gap: 2rem;

  @media only screen and (max-width: 52.5em) {
    display: flex;
  }
}

.browseBtn {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1vw;
  cursor: pointer;

  font-size: var(--fontSize100);

  > svg {
    min-height: 1.2vw;
    max-height: 1.2vw;
    min-width: 1.2vw;
    max-width: 1.2vw;
    transition: all 0.25s;

    @media only screen and (max-width: 31.25em) {
      min-height: 2vw;
      max-height: 2vw;
      min-width: 2vw;
      max-width: 2vw;
    }
  }
}

.browseBox {
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);

  cursor: default;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vw;

  color: #777;
  width: max-content;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 4vw 6vw;

  border: 1px solid #252525;
  border-top: 2px solid #fff;

  opacity: 1;
  transition: all 0.2s;

  &:hover {
    background-color: #000;
  }

  & > .link {
    font-size: var(--fontSize200);
    position: relative;

    &::before {
      content: "";

      position: absolute;
      bottom: -2px;
      width: 0%;
      height: 1px;

      background-color: #fff;
      transition: width 0.2s;
    }

    &:hover::before {
      width: 100%;
    }
  }
}

.browsePointer {
  position: absolute;
  bottom: calc(100% - 2px);

  transform: rotate(180deg) scale(1.5);

  > svg {
    min-height: 0.8vw;
    max-height: 0.8vw;
    min-width: 0.8vw;
    max-width: 0.8vw;

    @media only screen and (max-width: 52.5em) {
      min-height: 1.2vw;
      max-height: 1.2vw;
      min-width: 1.2vw;
      max-width: 1.2vw;
    }
  }
  @media only screen and (max-width: 31.25em) {
    bottom: calc(100%);

    > svg {
      min-height: 2.6vw;
      max-height: 2.6vw;
      min-width: 2.6vw;
      max-width: 2.6vw;
    }
  }
}

.linkContainer {
  display: flex;
  align-items: center;
  gap: 1.5vw;
}

.link {
  font-size: var(--fontSize100);
  color: #fff;
  cursor: pointer;

  transition: all 0.2s;

  &:hover {
    color: #ddd;
  }
}

.logo {
  align-self: center;
  font-family: "Pacifico", sans-serif;
  font-size: 1.8vw;
  color: var(--primaryColor100);
  cursor: pointer;
  margin-right: 2vw;

  @media only screen and (max-width: 52.5em) {
    font-size: 3.6vw;
  }

  @media only screen and (max-width: 31.25em) {
    font-size: 4vw;
  }
}

.user {
  display: flex;
  align-items: center;
  gap: 1.6vw;

  @media only screen and (max-width: 52.5em) {
    gap: 2.5vw;
  }

  @media only screen and (max-width: 31.25em) {
    gap: 3.5vw;
  }

  svg {
    display: block;
  }
}

.searchBox {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 1vw;

  padding: 0.5vw;
  border: 1px solid #aaa;
  background-color: rgba(0, 0, 0, 0.9);

  transition: all 0.5s 0s;

  svg {
    min-height: 1.6vw;
    max-height: 1.6vw;
    min-width: 1.6vw;
    max-width: 1.6vw;

    @media only screen and (max-width: 52.5em) {
      min-height: 2.6vw;
      max-height: 2.6vw;
      min-width: 2.6vw;
      max-width: 2.6vw;
    }

    @media only screen and (max-width: 31.25em) {
      min-height: 5vw;
      max-height: 5vw;
      min-width: 5vw;
      max-width: 5vw;
    }
  }
}

.hideSearch {
  background-color: transparent;
  border: 1px solid transparent;
  padding-right: 0;
  margin-right: -1.5vw;
}

.searchField {
  width: 0;

  font-family: "Montserrat", sans-serif;
  color: #fff;
  transition: all 0.4s;

  &:focus {
    width: 15vw;
  }

  @media only screen and (max-width: 31.25em) {
    max-width: 8vw;
  }
}

.notifsIcon {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 100%;

  > svg {
    min-height: 1.6vw;
    max-height: 1.6vw;
    min-width: 1.6vw;
    max-width: 1.6vw;

    @media only screen and (max-width: 52.5em) {
      min-height: 2.9vw;
      max-height: 2.9vw;
      min-width: 2.9vw;
      max-width: 2.9vw;
    }
    @media only screen and (max-width: 31.25em) {
      min-height: 5vw;
      max-height: 5vw;
      min-width: 5vw;
      max-width: 5vw;
    }
  }
}

.notifsBox {
  position: absolute;
  right: 0;
  top: 110%;
  cursor: default;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  background-color: rgba(0, 0, 0, 0.85);
  height: 12vw;
  width: 30vw;
  color: #aaa;

  border: 1px solid #252525;
  border-top: 2px solid #fff;

  opacity: 1;
  transition: all 0.2s;

  &:hover {
    background-color: #000;
  }

  @media only screen and (max-width: 31.25em) {
    padding: 10vw;
  }

  .pointer {
    position: absolute;
    right: 2%;
    bottom: calc(100%);

    transform: rotate(180deg) scale(1.5);

    > svg {
      min-height: 0.8vw;
      max-height: 0.8vw;
      min-width: 0.8vw;
      max-width: 0.8vw;

      @media only screen and (max-width: 52.5em) {
        min-height: 1.2vw;
        max-height: 1.2vw;
        min-width: 1.2vw;
        max-width: 1.2vw;
      }
    }
    @media only screen and (max-width: 31.25em) {
      bottom: calc(100% - 1px);

      > svg {
        min-height: 2.6vw;
        max-height: 2.6vw;
        min-width: 2.6vw;
        max-width: 2.6vw;
      }
    }
  }
}

.accBtn {
  position: relative;

  display: flex;
  align-items: center;
  gap: 1rem;

  display: flex;
  align-items: center;
  cursor: pointer;
  height: 100%;

  > svg {
    min-height: 0.8vw;
    max-height: 0.8vw;
    min-width: 0.8vw;
    max-width: 0.8vw;
    transition: all 0.25s;

    @media only screen and (max-width: 52.5em) {
      min-height: 1.2vw;
      max-height: 1.2vw;
      min-width: 1.2vw;
      max-width: 1.2vw;
    }

    @media only screen and (max-width: 31.25em) {
      min-height: 2vw;
      max-height: 2vw;
      min-width: 2vw;
      max-width: 2vw;
    }
  }

  &:hover > svg {
    transform: rotate(180deg);
  }
}

.accBox {
  position: absolute;
  right: 1.5vw;
  top: 110%;
  cursor: default;
  box-sizing: content-box;

  display: flex;
  align-items: center;

  color: #777;
  width: max-content;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 2vw;

  border: px solid #252525;
  border-top: 2px solid #fff;

  opacity: 1;
  transition: all 0.2s;

  &:hover {
    background-color: #000;
  }

  @media only screen and (max-width: 52.5em) {
    border-top: 1px solid #fff;
  }

  @media only screen and (max-width: 31.25em) {
    padding: 6vw;
  }

  .pointer {
    position: absolute;
    right: 2%;
    bottom: calc(100% - 1px);

    transform: rotate(180deg) scale(1.5);

    > svg {
      min-height: 0.8vw;
      max-height: 0.8vw;
      min-width: 0.8vw;
      max-width: 0.8vw;

      @media only screen and (max-width: 52.5em) {
        min-height: 1.2vw;
        max-height: 1.2vw;
        min-width: 1.2vw;
        max-width: 1.2vw;
      }
    }
    @media only screen and (max-width: 31.25em) {
      bottom: calc(100% - 2px);

      > svg {
        min-height: 2.6vw;
        max-height: 2.6vw;
        min-width: 2.6vw;
        max-width: 2.6vw;
      }
    }
  }

  .btnsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    button,
    a {
      position: relative;

      font-weight: 400;
      font-size: var(--fontSize100);
      outline: none;
      color: #fff;

      @media only screen and (max-width: 31.25em) {
        font-size: var(--fontSize200);
      }

      &:hover {
        transform: none;
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        background-color: #fff;
        height: 1px;
        width: 0;
        transition: width 0.2s;
      }

      &:hover::after,
      &:focus::after {
        width: 100%;
      }
    }
  }
}

.browseBtn:not(:hover) > .browseBox {
  visibility: hidden;
  opacity: 0;
  transition-delay: 0.1s;
}

.notifsIcon:not(:hover) > .notifsBox {
  visibility: hidden;
  opacity: 0;
  transition-delay: 0.1s;
}

.accBtn:not(:hover) > .accBox {
  visibility: hidden;
  opacity: 0;
  transition-delay: 0.1s;
}

.pfp {
  position: relative;
  height: 3vw;
  width: 3vw;
  border-radius: 0.3vw;
  overflow: hidden;

  @media only screen and (max-width: 52.5em) {
    min-height: 4vw;
    max-height: 4vw;
    min-width: 4vw;
    max-width: 4vw;
  }

  @media only screen and (max-width: 31.25em) {
    min-height: 6vw;
    max-height: 6vw;
    min-width: 6vw;
    max-width: 6vw;
  }
}
