.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  display: flex;
  align-items: center;

  width: 100%;
  height: 4.5vw;
  padding: 0 4vw;

  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7) 10%,
    rgba(0, 0, 0, 0)
  );

  transition: background-color 0.5s, top 0.2s;

  @media only screen and (max-width: 52.5em) {
    height: 8vw;
  }

  @media only screen and (max-width: 31.25em) {
    height: 12vw;
  }
}

.logo {
  align-self: center;
  font-family: "Pacifico", sans-serif;
  font-size: 1.8vw;
  color: var(--primaryColor100);
  cursor: pointer;

  @media only screen and (max-width: 52.5em) {
    font-size: 3.6vw;
  }

  @media only screen and (max-width: 31.25em) {
    font-size: 6vw;
  }
}
