.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 4rem;
  width: 4rem;
  color: #fff;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.6);

  @media only screen and (max-width: 54.25em) {
    width: 6vw;
    height: 6vw;
  }

  @media only screen and (max-width: 31.25em) {
    width: 9vw;
    height: 9vw;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid rgba(255, 255, 255, 1);

    .svg {
      opacity: 1;
    }
  }
}

.svg {
  position: relative;
  height: 2.5rem;
  width: 2.5rem;

  opacity: 0.8;

  @media only screen and (max-width: 54.25em) {
    width: 3vw;
    height: 3vw;
  }

  @media only screen and (max-width: 31.25em) {
    width: 6vw;
    height: 6vw;
  }
}
